[submodule "vim-pathogen"]
	path = .vim/vim-pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "ack.vim"]
    path = .vim/ack.vim
    url = https://github.com/mileszs/ack.vim.git
[submodule "nerdcommenter"]
    path = .vim/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdcommenter"]
    path = .vim/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-powerline"]
    path = .vim/vim-powerline
    url = https://github.com/Lokaltog/vim-powerline.git
[submodule "zencoding-vim"]
    path = .vim/zencoding-vim
    url = https://github.com/mattn/zencoding-vim.git
